<div class="w-full bg-slate-50 relative flex justify-between p-4 pt-6">
  <!-- ? Audio Element -->
  <audio
    id="audio-player"
    class="invisible"
    [src]="playingSong.file"
    (loadstart)="loadingSong()"
    (loadeddata)="loadedSong()"
    (ended)="endedSong()"
  ></audio>
  <!-- TODO show current time and song duration -->
  <!-- ? Audio Seeker -->
  <input
    type="range"
    name="seeker"
    id="seeker"
    class="absolute top-0 w-full cursor-col-resize"
    style="transform: translate(-16px, -4px); accent-color: rgb(234 88 12)"
    value="0"
    step="1"
    (input)="seek()"
  />
  <!-- ? Song Info -->
  <div class="flex">
    <!-- ? Song Image -->
    <div class="w-16 h-16 rounded-lg overflow-hidden mr-2">
      @if (playingSong.image) {
      <img
        class="w-full h-auto"
        [src]="playingSong.image"
        [alt]="playingSong.title"
      />
      } @else { <span class="material-symbols-rounded"> genres </span> }
    </div>
    <div class="flex flex-col justify-center">
      <!-- ? Song Name -->
      <h1 class="font-signika font-medium capitalize text-slate-800">
        {{ playingSong.title }}
      </h1>
      <!-- ? Song Artists -->
      <h2
        class="font-signika w-full truncate text-sm text-slate-500 capitalize"
        [title]="
          playingSong.artist +
            (playingSong.coArtists.length
              ? ' ' + '(ft. ' + playingSong.coArtists.join(', ') + ' )'
              : '') | titlecase
        "
      >
        <!-- ? Main Artist -->
        <span class="cursor-pointer hover:underline">{{
          playingSong.artist
        }}</span>
        @if (playingSong.coArtists.length) {
        <!-- ? Co-Artists -->
        <span>
          (ft. @for (coArtist of playingSong.coArtists; track $index) {
          <span class="cursor-pointer hover:underline">{{ coArtist }}</span> @if
          ($index < playingSong.coArtists.length - 1) { <span>, </span> } } )
        </span>
        }
      </h2>
    </div>
  </div>
  <!-- ? Audio Controls -->
  <div
    class="flex justify-between items-center gap-4 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <button>
      <span class="material-symbols-rounded transition hover:text-orange-600"
        >shuffle</span
      >
    </button>
    <button>
      <span
        class="material-symbols-rounded transition icon-3xl hover:text-orange-600"
        >skip_previous</span
      >
    </button>
    <button (click)="togglePlay()">
      <span
        class="material-symbols-rounded p-1 icon-3xl icon-filled transition rounded-full bg-orange-600 text-slate-50 hover:bg-orange-700"
        [class.animation-rotate]="AUDIO_STATE == 'LOADING'"
        >{{
          AUDIO_STATE == "PLAYING"
            ? "pause"
            : AUDIO_STATE == "PAUSED"
            ? "play_arrow"
            : "hourglass"
        }}</span
      >
    </button>
    <button>
      <span
        class="material-symbols-rounded transition icon-3xl hover:text-orange-600"
        >skip_next</span
      >
    </button>
    <button>
      <span class="material-symbols-rounded transition hover:text-orange-600"
        >repeat</span
      >
    </button>
  </div>
  <!-- ? Audio Volume Control -->
  <div class="flex items-center">
    <span
      class="material-symbols-rounded mr-1 transition cursor-pointer hover:text-orange-600"
      (click)="toggleVolume()"
      >{{ VOLUME_STATE == "VOLUBLE" ? "volume_up" : "volume_off" }}</span
    >
    <input
      type="range"
      name="volume"
      id="volume"
      class="w-20 h-1 cursor-col-resize"
      style="accent-color: rgb(234 88 12)"
      value="1"
      max="1"
      step="0.01"
      (input)="changeVolume()"
    />
  </div>
</div>
