<div class="w-full bg-slate-50 relative flex justify-between p-4 pt-6">
  <input
    type="range"
    name="seeker"
    id="seeker"
    class="absolute top-0 w-full cursor-col-resize"
    style="transform: translate(-16px, -4px); accent-color: rgb(234 88 12)"
    value="180"
    max="207"
  />
  <div class="flex">
    <div class="w-16 h-16 rounded-lg overflow-hidden mr-2">
      @if (playingSong.image) {
      <img
        class="w-full h-auto"
        [src]="playingSong.image"
        [alt]="playingSong.title"
      />
      } @else { <span class="material-symbols-rounded"> genres </span> }
    </div>
    <div class="flex flex-col justify-center">
      <h1 class="font-signika font-medium text-slate-800">
        {{ playingSong.title }}
      </h1>
      <h2 class="font-signika text-slate-500 hover:underline cursor-pointer">
        {{ playingSong.artist }}
      </h2>
    </div>
  </div>
  <div
    class="flex justify-between items-center gap-4 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
  >
    <!-- TODO replace icons with samurai button -->
    <button
      samuraiButton
      variation="CONTENT_ONLY"
      content="ICON"
      icon="shuffle"
      iconStyle="round"
      color="rgb(234 88 12)"
    ></button>
    <button
      samuraiButton
      variation="CONTENT_ONLY"
      content="ICON"
      icon="skip_previous"
      iconStyle="round"
      color="rgb(234 88 12)"
    ></button>
    <button
      samuraiButton
      variation="FILLED"
      content="ICON"
      icon="play_arrow"
      iconStyle="round"
      backgroundColor="rgb(234 88 12)"
      color="#ffffff"
      borderRadius="ROUND"
    ></button>
    <button
      samuraiButton
      variation="CONTENT_ONLY"
      content="ICON"
      icon="skip_next"
      iconStyle="round"
      color="rgb(234 88 12)"
    ></button>
    <button
      samuraiButton
      variation="CONTENT_ONLY"
      content="ICON"
      icon="repeat"
      iconStyle="round"
      color="rgb(234 88 12)"
    ></button>
  </div>
  <div class="flex items-center">
    <span class="material-symbols-rounded mr-1">volume_up</span>
    <input
      type="range"
      name="volume"
      id="volume"
      class="w-20 h-1 cursor-col-resize"
      style="accent-color: rgb(234 88 12)"
      value="100"
      max="100"
    />
  </div>
</div>
