<div
  class="w-full bg-transparent mb-4 overflow-hidden overscroll-contain hover:overflow-x-auto"
>
  <div class="w-full flex justify-between items-center mb-4">
    <h2 class="font-fira-sans text-xl font-medium">Recommended For You</h2>
    <button
      samuraiButton
      variation="CONTENT_ONLY"
      content="TEXT"
      hoverStyle="NONE"
      color="#EA580C"
      style="font-size: 16px"
    >
      See More
    </button>
  </div>
  <div class="flex items-center gap-10 w-fit">
    @for (song of songs; track 'id') { <muzik-song [song]="song"></muzik-song> }
  </div>
</div>
