<div class="w-full aspect-[32/9] rounded-2xl bg-slate-900 mb-4 relative">
  <!-- TODO video element -->
  <h2 class="absolute top-4 left-4 text-3xl text-slate-300 font-fira-sans">
    Concerts in Next Month
  </h2>
  <p class="absolute top-14 left-4 text-slate-400 font-signika">
    Don't miss your favorite artist's concert
  </p>
  <button
    class="absolute top-24 left-4 py-2 px-4 rounded-full bg-orange-600 text-slate-50 cursor-pointer transition font-fira-sans hover:bg-orange-700"
  >
    See Concerts List
  </button>
  <div class="absolute bottom-6 right-6 flex items-center">
    <span class="w-4 h-0.5 rounded-full bg-slate-100"></span>
  </div>
</div>
